#footer {
    padding-top: 2em;
    padding-bottom: 1em;
}
input.input_border {
    border-color: white !important;
    border: solid 1px !important;
    color: white !important;
    border-radius: 0px !important;   
}
